body {
  background-color: #333;
}

#preloader {
  width: 150px;
  height: 150px;
  background-color: lightgreen;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#preloader > div {
  width: 30px;
  height: 30px;
  background-color: #7aeb7a;
  border: 1.5px solid #bcf5bc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#preloader > div:nth-child(1) {
  -webkit-animation: pulse 0.97192s infinite;
          animation: pulse 0.97192s infinite;
  -webkit-animation-delay: 0.10343s;
          animation-delay: 0.10343s;
}

@-webkit-keyframes pulse {
  from {
    background-color: #189f18;
  }
  to {
    background-color: #7aeb7a;
  }
}

@keyframes pulse {
  from {
    background-color: #189f18;
  }
  to {
    background-color: #7aeb7a;
  }
}

#preloader > div:nth-child(2) {
  -webkit-animation: pulse 1.17795s infinite;
          animation: pulse 1.17795s infinite;
  -webkit-animation-delay: 0.5877s;
          animation-delay: 0.5877s;
}

@keyframes pulse {
  from {
    background-color: #26de26;
  }
  to {
    background-color: #71e971;
  }
}

#preloader > div:nth-child(3) {
  -webkit-animation: pulse 1.28346s infinite;
          animation: pulse 1.28346s infinite;
  -webkit-animation-delay: 0.50592s;
          animation-delay: 0.50592s;
}

@keyframes pulse {
  from {
    background-color: #1fcb1f;
  }
  to {
    background-color: #8ced8c;
  }
}

#preloader > div:nth-child(4) {
  -webkit-animation: pulse 1.44853s infinite;
          animation: pulse 1.44853s infinite;
  -webkit-animation-delay: 1.47008s;
          animation-delay: 1.47008s;
}

@keyframes pulse {
  from {
    background-color: #7aeb7a;
  }
  to {
    background-color: #64e764;
  }
}

#preloader > div:nth-child(5) {
  -webkit-animation: pulse 0.44398s infinite;
          animation: pulse 0.44398s infinite;
  -webkit-animation-delay: 0.11586s;
          animation-delay: 0.11586s;
}

@keyframes pulse {
  from {
    background-color: #38e038;
  }
  to {
    background-color: #7aeb7a;
  }
}

#preloader > div:nth-child(6) {
  -webkit-animation: pulse 0.69425s infinite;
          animation: pulse 0.69425s infinite;
  -webkit-animation-delay: 2.11463s;
          animation-delay: 2.11463s;
}

@keyframes pulse {
  from {
    background-color: #19a319;
  }
  to {
    background-color: #71e971;
  }
}

#preloader > div:nth-child(7) {
  -webkit-animation: pulse 0.66339s infinite;
          animation: pulse 0.66339s infinite;
  -webkit-animation-delay: 1.55689s;
          animation-delay: 1.55689s;
}

@keyframes pulse {
  from {
    background-color: #26de26;
  }
  to {
    background-color: #71e971;
  }
}

#preloader > div:nth-child(8) {
  -webkit-animation: pulse 1.21953s infinite;
          animation: pulse 1.21953s infinite;
  -webkit-animation-delay: 1.49859s;
          animation-delay: 1.49859s;
}

@keyframes pulse {
  from {
    background-color: #6de96d;
  }
  to {
    background-color: #83ec83;
  }
}

#preloader > div:nth-child(9) {
  -webkit-animation: pulse 0.20546s infinite;
          animation: pulse 0.20546s infinite;
  -webkit-animation-delay: 1.16901s;
          animation-delay: 1.16901s;
}

@keyframes pulse {
  from {
    background-color: #0b460b;
  }
  to {
    background-color: #7aeb7a;
  }
}

#preloader > div:nth-child(10) {
  -webkit-animation: pulse 1.43523s infinite;
          animation: pulse 1.43523s infinite;
  -webkit-animation-delay: 0.56192s;
          animation-delay: 0.56192s;
}

@keyframes pulse {
  from {
    background-color: #1fcb1f;
  }
  to {
    background-color: #64e764;
  }
}

#preloader > div:nth-child(11) {
  -webkit-animation: pulse 0.05968s infinite;
          animation: pulse 0.05968s infinite;
  -webkit-animation-delay: 3.59207s;
          animation-delay: 3.59207s;
}

@keyframes pulse {
  from {
    background-color: #20d420;
  }
  to {
    background-color: #75ea75;
  }
}

#preloader > div:nth-child(12) {
  -webkit-animation: pulse 1.37713s infinite;
          animation: pulse 1.37713s infinite;
  -webkit-animation-delay: 4.42214s;
          animation-delay: 4.42214s;
}

@keyframes pulse {
  from {
    background-color: #1dbe1d;
  }
  to {
    background-color: #83ec83;
  }
}

#preloader > div:nth-child(13) {
  -webkit-animation: pulse 0.13351s infinite;
          animation: pulse 0.13351s infinite;
  -webkit-animation-delay: 2.28986s;
          animation-delay: 2.28986s;
}

@keyframes pulse {
  from {
    background-color: #127712;
  }
  to {
    background-color: #75ea75;
  }
}

#preloader > div:nth-child(14) {
  -webkit-animation: pulse 0.45651s infinite;
          animation: pulse 0.45651s infinite;
  -webkit-animation-delay: 3.38717s;
          animation-delay: 3.38717s;
}

@keyframes pulse {
  from {
    background-color: #1cb51c;
  }
  to {
    background-color: #68e868;
  }
}

#preloader > div:nth-child(15) {
  -webkit-animation: pulse 0.59039s infinite;
          animation: pulse 0.59039s infinite;
  -webkit-animation-delay: 4.03118s;
          animation-delay: 4.03118s;
}

@keyframes pulse {
  from {
    background-color: #6de96d;
  }
  to {
    background-color: #68e868;
  }
}

#preloader > div:nth-child(16) {
  -webkit-animation: pulse 0.68453s infinite;
          animation: pulse 0.68453s infinite;
  -webkit-animation-delay: 1.19167s;
          animation-delay: 1.19167s;
}

@keyframes pulse {
  from {
    background-color: #127312;
  }
  to {
    background-color: #83ec83;
  }
}

#preloader > div:nth-child(17) {
  -webkit-animation: pulse 0.10168s infinite;
          animation: pulse 0.10168s infinite;
  -webkit-animation-delay: 3.66757s;
          animation-delay: 3.66757s;
}

@keyframes pulse {
  from {
    background-color: #75ea75;
  }
  to {
    background-color: #68e868;
  }
}

#preloader > div:nth-child(18) {
  -webkit-animation: pulse 0.9364s infinite;
          animation: pulse 0.9364s infinite;
  -webkit-animation-delay: 4.99647s;
          animation-delay: 4.99647s;
}

@keyframes pulse {
  from {
    background-color: #75ea75;
  }
  to {
    background-color: #64e764;
  }
}

#preloader > div:nth-child(19) {
  -webkit-animation: pulse 1.09819s infinite;
          animation: pulse 1.09819s infinite;
  -webkit-animation-delay: 3.22765s;
          animation-delay: 3.22765s;
}

@keyframes pulse {
  from {
    background-color: #5fe75f;
  }
  to {
    background-color: #64e764;
  }
}

#preloader > div:nth-child(20) {
  -webkit-animation: pulse 0.45102s infinite;
          animation: pulse 0.45102s infinite;
  -webkit-animation-delay: 6.08897s;
          animation-delay: 6.08897s;
}

@keyframes pulse {
  from {
    background-color: #1ec71e;
  }
  to {
    background-color: #7eeb7e;
  }
}

#preloader > div:nth-child(21) {
  -webkit-animation: pulse 1.2044s infinite;
          animation: pulse 1.2044s infinite;
  -webkit-animation-delay: 4.1597s;
          animation-delay: 4.1597s;
}

@keyframes pulse {
  from {
    background-color: #137b13;
  }
  to {
    background-color: #68e868;
  }
}

#preloader > div:nth-child(22) {
  -webkit-animation: pulse 1.18345s infinite;
          animation: pulse 1.18345s infinite;
  -webkit-animation-delay: 1.94463s;
          animation-delay: 1.94463s;
}

@keyframes pulse {
  from {
    background-color: #3ce13c;
  }
  to {
    background-color: #68e868;
  }
}

#preloader > div:nth-child(23) {
  -webkit-animation: pulse 1.43961s infinite;
          animation: pulse 1.43961s infinite;
  -webkit-animation-delay: 0.94043s;
          animation-delay: 0.94043s;
}

@keyframes pulse {
  from {
    background-color: #49e349;
  }
  to {
    background-color: #64e764;
  }
}

#preloader > div:nth-child(24) {
  -webkit-animation: pulse 0.39717s infinite;
          animation: pulse 0.39717s infinite;
  -webkit-animation-delay: 4.5369s;
          animation-delay: 4.5369s;
}

@keyframes pulse {
  from {
    background-color: #0b460b;
  }
  to {
    background-color: #71e971;
  }
}

#preloader > div:nth-child(25) {
  -webkit-animation: pulse 1.44334s infinite;
          animation: pulse 1.44334s infinite;
  -webkit-animation-delay: 9.34354s;
          animation-delay: 9.34354s;
}

@keyframes pulse {
  from {
    background-color: #0d540d;
  }
  to {
    background-color: #64e764;
  }
}
/*# sourceMappingURL=preloader.css.map */